{% extends 'layout.html.twig' %}

{% block content %}

{% include 'Home/_form.html.twig' %}

<!-- ======= Counts Section = STEP ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
          <div class="section-title">
              <h2><span>"</span> Easy as 1, 2, 3 <span>"</span></h2>
          </div>
        <div class="row">

          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-simple-smile">1</i>
              <span data-toggle="counter-up">J'AI BESOIN D'AIDE</span>
              <p>Je me connecte à mon compte et clique sur publier! Je n'ai plus qu'à remplir un formulaire!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder">2</i>
              <span data-toggle="counter-up">J'AI LES COMPÉTENCES</span>
              <p>Je me connecte à mon compte et clique sur les publicités. Je choisis une annonce qui nécessite ma compétence!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support">3</i>
              <span data-toggle="counter-up">ON SE RENCONTRE</span>
              <p>Nous nous connectons et nous en profitons! Chaque heure que quelqu'un aide, il gagne un point de crédit.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->



    <!-- ======= Team Section = CATEGORY ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Catégories</h2>
          <p>Retrouvez ici toutes les catégories des services recherchés</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-info">
                <h4 class="categoryh4">Cuisine</h4>
                 <a href="/category/showAdvertsCategory/1"><img style="background:white" src="https://www.lettresadhesives.net/storage/stickers/Sticker%20Cloche.png" width="150px"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-info">
                <h4 class="categoryh4">Bricolage</h4>
                <a href="#"><img style="background : white" src="https://i.imgur.com/evxGCM3.png" width="150px"></a>
              </div>
              </div>
            </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-info">
                <h4 class="categoryh4">Cours</h4>
                <a href="#"><img style="background : white" src="http://www.sivom-alliance-nord-ouest.fr/userfiles/user/Pictogrammes/livres.png" width="150px"></a>
              </div>
              </div>
            </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
             <div class="member-info">
                <h4 class="categoryh4">Administratif</h4>
                <a href="#"><img style="background : white" src="https://i1.wp.com/www.le-toaster.fr/wp-content/uploads/2015/03/folder-dossier-picto.png?resize=300%2C300" width="150px"></a>
              </div>
           </div>
         </div>

        </div>

         <div class="row">

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
             <div class="member-info">
                <h4 class="categoryh4">Sport</h4>
                <a href="#"><img style="background : white" src="https://i.imgur.com/ORmf2Ol.png" width="150px"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-info">
                <h4 class="categoryh4">Ménage</h4>
                <a href="#"><img style="background : white" src="https://business-cliparts.com/material/062-occupation-illustration.jpg" width="150px"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
             <div class="member-info">
                <h4 class="categoryh4">Informatique</h4>
                <a href="#"><img style="background : white" src="https://picto-fr.s3.eu-west-3.amazonaws.com/pictos/images/000/000/577/medium/Sans-titre---7.png?1484660600" width="150px"></a>
              </div>
             </div>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-6 col-12 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
             <div class="member-info">
                <h4 class="categoryh4">Jardinage</h4>
                <a href="#"><img style="background : white" src="https://image.flaticon.com/icons/png/512/90/90608.png" width="150px"></a>
               </div>
              </div>
          </div>


        </div>
      </div>

    </section><!-- End Team Section -->

        <!-- ======= Contact Section = SITE MAP ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Plan du Site</h2>
          <p>Pour vous aider dans votre navigation, retrouvez ici le plan du site</p>
        </div>

        <div class="container">
        <div class="row">



          <div class="col-lg-5 col-md-4 footer-links">
            <div class="maptitle">
            <h4>Navigation</h4>
            </div>
            <ul class="mapul">
              <li><i class="bx bx-chevron-right"></i> <a href="/home/index">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/category/index">Catégories</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/home/index">Rechercher</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/memberspace/index">Mon profil</a></li>
            </ul>
          </div>

          <div class="col-lg-5 col-md-5 footer-links">
            <div class="maptitle">
            <h4>Services</h4>
            </div>
            <ul class="mapul">
              <li><i class="bx bx-chevron-right"></i> <a href="/inscription/index">Inscription</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/adverts/add">Déposer une annonce</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/connection/auth">Connexion</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/reviews/index">Avis</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-2 footer-links">
            <div class="maptitle">
            <h4>Aide</h4>
            </div>
            <ul class="mapul">
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Mentions légales</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact/index">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    </section><!-- End Contact Section -->

    {% endblock %}
