<form method="post">
    <label for ="id_advert">id_Annonce</label>
    <input type="text" value="{{ order.id_advert }}" name="id_category" ><br/>
    <label for ="id_receiver">id_Receiver</label>
    <input type="text" value="{{ order.id_receiver }}" name="id_receiver" ><br/>
    <label for ="id_category">id_Category</label>
    <input type="text" value="{{ order.id_category }}" name="id_category" ><br/>
    <label for ="validated">Validated</label>
    <input type="text" value="{{ order.validated }}" name="validated" ><br/>
    <input type="submit" value="Publier" >
</form>
