<form method="post">
    <input type="hidden" value="{{ reviews.id }}" name="id">
    <input type="hidden" value="{{ reviews.id_order }}" name="id_order">
       
    <label for="rating">Note:</label>
        <select name="rating" id="rating">
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="10" >10</option>         
        </select>

    <label for="comment">Commentaire</label>
    <textarea value="{{ reviews.comment }}" name="comment" placeholder="Votre commentaire"></textarea><br/>
    <input type="submit" value="Evaluer" >
</form>


