{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Editer le commentaire {{ reviews.search_service }}</h1>
    {% include 'Reviews/_form.html.twig' %}
    <a href="/reviews/show/{{ reviews.id }}">Back</a>
{% endblock %}
