{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    <h2>T'es dans "Connexion"</h2>
    
{% endblock %}
