<div class="signup-form">
        <form class="form-horizontal" method="post">

            <div class="col-xs-8 col-xs-offset-4">
                <h2>Contactez nous!</h2>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" for="name">Nom :</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" for="email">Adresse mail :</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" for="subject">Sujet :</label>
                <input type="text" class="form-control" id="subject" name="subject">
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" for="message">Message :</label>
                <textarea  name="message" class="form-control" type="text"></textarea>
            </div>

            <input type="submit" class="btn btn-danger" value="Envoyer">
    </form>
</div>