{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Hello Wilder !</h1>
    <h2>Salut vous etes sur la page inscription</h2>



    <h1>Add a new item</h1>
    {% include 'Inscription/_form.html.twig' %}

{% endblock %}
