{% extends 'layout.html.twig' %}

{% block content %}
    <!-- ======= Hero Section = Barre de Recherche ======= -->
    <section id="herotwo" class="d-flex align-items-center">

        <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h2 style="color: white">Vous avez été inscrit avec succès. Un administrateur vérifiera bientôt votre compte!</h2>
                    <a href="/" class="btn btn-danger" role="button">RETOUR À L'ACCUEIL</a>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

{% endblock %}
